<html>
    <head>
        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
        <style>
        </style>
    </head>
    <body>
        <div id="app">
            <form>
                <table>
                    <thead>
                        <tr>
                            <th>index</th><th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="contact in contacts">
                            <td>{{contact.id}}</td>
                            <td><a v-bind:href="/board/+'contact.id'">{{contact.title}}</a></td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <span v-for="contact in contacts">
                        <button>{{contact.id}}</button>
                    </ul>
                </p>
            </form>
        </div>
    </body>
    <script type="text/javascript">
        function clicklink(){
            console.log("out method");
        }

        var vm = new Vue({
            el : '#app',
            data :{
                "contacts" : [
                { id : 1, title : "one"},
                { id : 2, title : "two"},
                { id : 3, title : "three"},
                { id : 4, title : "four"},
                { id : 5, title : "five"},
                { id : 6, title : "six"},
                { id : 7, title : "seven"},
                { id : 8, title : "eight"},
                { id : 9, title : "nine"},
                { id : 10, title : "ten"},
                { id : 11, title : "eleven"},
                { id : 12, title : "twelve"},
                { id : 13, title : "thirteen"}
                ]
            },
            methods:{
                clicklink : function(){
                    console.log("clicked Link");
                }
            }

        })
    </script>
</html>